<!DOCTYPE html>
{% load staticfiles %}
<html lang="ko">
<head>
  <title>My Diary</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/diary.css' %}">
</head>

<body>
  <div class="page-header">
  <h1>My Diary</h1>
  </div>
  <div class="container diary">

    <h2>{{diary.title}}</h2>
    <p> {{diary.content|linebreaksbr}}</p>
    <p> {{diary.update_date}} </p>
     <form action="{% url 'delete' diary.id %}" method="POST" class="post-form"> {%csrf_token%} {{form.as_p}} <button type="submit" class="save btn btn-defaul">삭제</button> </form>

  </div>
</body>
</html>
